@model MvcApplication1.Models.ArticleModel
<div class="wrap-article">
    <h2>@Model.Title</h2>
    <p class="date"><span>@Model.Date.ToString("D") </span><span>@Model.Date.ToString("HH:mm:ss")</span></p>
    <div class="text-block">
        @Html.Raw(Model.Body)
    </div>
</div>
<div class="wrap-soc-list">
    <ul>
        @foreach (var item in Model.Likes)
        {
            <li><a href="#"><img src="~/Content/images/fc-ico.png" alt="" /><span>@item.LikeCount</span></a></li>
        }
    </ul>
</div>
<div class="wrap-comments">
    <h2>Comments</h2>
    <ul class="list-comment">
        @foreach (string item in Model.Comments)
        {
            <li>
                <div class="avatar"><img src="~/Content/images/avatar-comment.png" alt="" /></div>
                <div class="comment-text">
                    <a href="#"></a>
                    <p class="date"><span>@DateTime.Now.Date.ToString("D")</span><span>@DateTime.Now.Date.ToString("HH:mm")</span></p>
                    <p>@item</p>
                </div>
            </li>
        }
    </ul>
    @Html.Partial("~/Views/Home/AddComment.cshtml")
    </div>
    